
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>document.title = "Home - Life.Aus"</script>

<div class="container">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
            <li data-target="#homeCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/airport.png" alt="lifestyle" style="width:100%;height:500px">
            </div>
            <div class="carousel-item">
                <img src="~/Images/map.png" alt="drinking" style="width:100%;height:500px">
            </div>
            <div class="carousel-item">
                <img src="~/Images/city.png" alt="sport" style="width:100%;height:500px">
            </div>
            <div class="carousel-item">
                <img src="~/Images/drinking.png" alt="sport" style="width:100%;height:500px">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#homeCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#homeCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<!-- Project description -->
<div class="w3-container" id="introduction">
    <div class="w3-content" style="max-width:700px">
        <h3 class="w3-center" style="padding-bottom:20px;padding-top:60px">
            <span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">
                DESCRIPTION
            </span>
        </h3>

        <p class="w3-large">
            Life.aus is a platform that aims to highlight the difference in the
            social aspect of life in Australia versus life back home.
            The major areas of focus are the drinking habits and the passion for sports that Australians possess.
        </p>
    </div>
</div>

<hr />

<!-- Immigrant chart -->
<div class="w3-container" id="immigrant">
    <div class="w3-content" style="max-width:700px">
        <h3 class="w3-center">
            <span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">
                IMMIGRANTS
            </span>
        </h3><br>
        <p class="w3-large w3-center">
            Australia is a diverse and multicultural country.
        </p>
        <p class="w3-large">
            Australian culture is soft and malleable and that is the reason it's home to many migrants across the world.
        </p><br />

        <div id="immigrantChart" style="padding-bottom: 0px;"></div>
        <br />
    </div>
    <div align="center" class="w3-center" style="max-width:600px;margin-left: auto;margin-right: auto;">
        <div class="card-group" align="center">
            <div class="card">
                <img src="~/Images/UK.png" class="card-img-top" style="width:100%; height:130px" alt="UK" />
                <div class="card-body">
                    <div class="card-title">
                        <b>United Kingdom - 23.5%</b>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/NZ.png" class="card-img-top" style="width:100%; height:140px" alt="NZ" />
                <div class="card-body">
                    <div class="card-title">
                        <b>New Zealand - 8.8%</b>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/Images/China.png" class="card-img-top" style="width:100%; height:100px" alt="China" />
                <div class="card-body">
                    <div class="card-title">
                        <b>China (excluding Hong Kong and Taiwan) - 4.7%</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <p class="w3-large" style="text-align:center">
        <b>
            About one in every four migrants in Australia is from the United Kingdom.
        </b>
    </p>
</div>

<hr />

<!-- Lifestyle introduction -->
<div class="w3-row w3-padding-64" id="lifestyle">
    <div class="w3-col m6 w3-padding-large">
        <h3 class="w3-center">
            <span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">
                LIFESTYLE
            </span>
        </h3><br>
        <p class="w3-large">
            Australian lifestyle is about indulging into different activities that create joy, laughter,
            contentment and connections with people.
        </p>
        <p class="w3-large">
            It is rated as the most <i> liveable city </i> across the nation. So, here are some interesting facts about
            Australian culture which will blow away your mind.
        </p>
        <br />
        <a class="w3-left btn link" href='@Url.Action("Index", "Lifestyles")'>Read more >></a>
    </div>

    <div class="w3-col m6 w3-padding-large">
        <img src="~/Images/coffee.png" alt="A guy drinking coffe" class="w3-round w3-image w3-opacity-min" width="600" height="750">
    </div>
</div>

<hr />

<!-- Drinking culture introduction -->
<div class="w3-row w3-padding-64" id="drinking">
    <div class="w3-col m6 w3-padding-large">
        <img src="~/Images/drinking2.jpeg" class="w3-round w3-image w3-opacity-min" alt="People drinking beer" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h3 class="w3-center">
            <span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">
                DRINKING CULTURE
            </span>
        </h3><br>
        <p class="w3-large">
            Australia is known for its <i> Alcoholic Beverages </i>. It plays an integral part of the culture. Vital in all celebrations,
            social activities and for relaxation after work.
        </p>
        <p class="w3-large">
            This section will familiarize you with the Australian drinking culture. Even talks about how to drink responsibly.
        </p>
        <br />
        <a class="w3-right btn link" href='@Url.Action("Index", "Home")'>Read more >></a>
    </div>
</div>

<hr />

<!-- Sport introduction -->
<div class="w3-row w3-padding-64" id="sport">
    <div class="w3-col m6 w3-padding-large">
        <h3 class="w3-center">
            <span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">
                SPORT
            </span>
        </h3><br>
        <p class="w3-large">
            Sports is an important part of the Australian Culture. Sports has shaped the Australian National Identity through many events.
        </p>
        <p class="w3-large">
            This section will introduce you to Social Sports which is something unusual, interesting and famous in Australia.
        </p>
        <br />
        <a class="w3-left btn link" href='@Url.Action("SportIndex", "Sport")'>Read more >></a>
    </div>

    <div class="w3-col m6 w3-padding-large">
        <img src="~/Images/playball.jpeg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>
</div>


<script type="text/javascript">
    (function (H) {

        var pendingRenders = [];

        // https://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport/7557433#7557433
        function isElementInViewport(el) {

            var rect = el.getBoundingClientRect();

            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (
                    window.innerHeight ||
                    document.documentElement.clientHeight
                ) &&
                rect.right <= (
                    window.innerWidth ||
                    document.documentElement.clientWidth
                )
            );
        }

        H.wrap(H.Series.prototype, 'render', function deferRender(proceed) {
            var series = this,
                renderTo = this.chart.container.parentNode;

            // It is appeared, render it
            if (isElementInViewport(renderTo) || !series.options.animation) {
                proceed.call(series);

                // It is not appeared, halt renering until appear
            } else {
                pendingRenders.push({
                    element: renderTo,
                    appear: function () {
                        proceed.call(series);
                    }
                });
            }
        });

        function recalculate() {
            pendingRenders.forEach(function (item) {
                if (isElementInViewport(item.element)) {
                    item.appear();
                    H.erase(pendingRenders, item);
                }
            });
        }

        if (window.addEventListener) {
            ['DOMContentLoaded', 'load', 'scroll', 'resize']
                .forEach(function (eventType) {
                    addEventListener(eventType, recalculate, false);
                });
        }

    }(Highcharts));
Highcharts.chart('immigrantChart', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Immigrants from top 10 countries'
    },

    xAxis: {
        categories: ['United Kingdom', 'New Zealand', 'China', 'Italy', 'Vietnam', 'India', 'Philippiness', 'Greece', 'Germany', 'South Africa'],
        title: {
            text: null
        }
    },

    yAxis: {
        title: {
            text: 'Count'
        }
    },
    legend: {
        layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom'
    },

    credits: {
        enabled: false
    },


    series: [{
        name: 'Population',
        colorByPoint: true,
        data: [1038160, 389466, 206589, 199123, 159849, 147105, 120538, 109989, 106524, 104131]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }
});</script>

