
@{
    ViewBag.Title = "SportIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>document.title = "Sports - Life.Aus"</script>
<div class="container-fluid zero-padding">
    <div class="row zero-margin">
        <div class="col-12 zero-padding" style="max-height: 600px; overflow: hidden;">
            <img src="~/Images/playFooty.png" alt="refuse alcohol" class="full-image" />
        </div>
    </div>
</div>


<div class="w3-container" id="introduction">
    <div class="w3-content" style="max-width:700px">
        <h3 class="w3-center" style="padding-top:30px; padding-bottom:30px;"><span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">Description</span></h3>
        <p class="w3-large">
            Sport is a vital part of Australian Culture. Australians love sports, it acts as a social glue to bring the diverse population together. Melbourne is famous for major sport events and is being named as ‘sporting capital of the world’. Sports has shaped the Australian national identity and made it unique from all other countries.
        </p>
    </div>
</div>

<hr />

<div class="w3-container" id="introduction">
    <div class="w3-content" style="max-width:700px">
        <h3 class="w3-center" style="padding-top:30px; padding-bottom:30px;"><span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">Popular Australian Sports</span></h3>
    </div>
</div>

<div class="container" style="padding-bottom:20px;">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
        <div class="col-lg-4 col-sm-1 imhv">
            <img src="~/Images/Rugby.jpg" style="display: block; width: 100%; height: auto;" />
            <div class="overla">
                <div class="content-details fadeIn-bottom">
                    <p>
                        Rugby is a full contact football with 15 players on each team. All of the body strength is used (i.e. legs,
                        core and upper body). The purpose of the game is to outscore the opposing team. Players wear
                        protective equipment to avoid high tackles or clashes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-1 imhv">
            <img src="~/Images/footy option1.png" style="display: block; width: 100%; height: auto;" />
            <div class="overla">
                <div class="content-details fadeIn-bottom">
                    <p>
                        Footy, also known as Australian Football, is a fast, skillful and tough sport. The venue is often a modified oval-shaped cricket ground. Players may use any part of their bodies to move the ball. With the highest spectator attendance and television viewership of all sports in Australia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-1 imhv">
            <img src="~/Images/cricket option2.png" style="display: block; width: 100%; height: auto;" />
            <div class="overla">
                <div class="content-details fadeIn-bottom">
                    <p>
                        Cricket is a bat and ball game played between two opposing teams of 11 players each. The object of the
                        game is to score more runs. The field is oval in shape as the boundary and end with a rectangle pitch in
                        the centre.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="w3-row" style="padding-top:20px;">
    <div class="w3-col m6 w3-padding-large">
        <img src="~/Images/socialsport.jpeg" class="full-image" />
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h3 class="w3-center"><span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">Social Sports</span></h3><br>
        <p class="w3-large">
            Social sport refers to sports that people participate in informal situations. Social sport looks and feels like standard or traditional competitive sports, but usually does not pay much attention to performance results.
            Social sport keeps you healthy and meets new friends. So why not leave the treadmill and have fun with your friends?
        </p>
        <br />
        <a class="w3-left btn link" href='https://www.socialsport.com.au/' target="_blank">Read more >></a>

    </div>
</div>

<hr />

<div class="w3-container" id="introduction">
    <div class="w3-content" style="max-width:700px">
        <h3 class="w3-center" style="padding-top:30px; padding-bottom:30px;"><span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold">Find Social Sport Venue or Public Play Area</span></h3>
        <p class="w3-large">
            Play a sport of your choice. You can choose to play social sports or play at a public activity area.
        </p>
    </div>
</div>

<br />
<br />

<div class="container" id="mapContainer">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1">
            <form id="socialForm">
                <h4>Choose A Venue</h4><br />
                <label class="option">
                    Social sports
                    <input type="radio" name="filters" value="social sports" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="option">
                    Sport courts
                    <input type="radio" name="filters" value="sport courts">
                    <span class="checkmark"></span>
                </label>
            </form>
            <form id="sportForm">
                <br />
                <h4>What kind of sport do you prefer?</h4><br>
                <label class="option">
                    Futsal
                    <input type="radio" name="sports" value="Futsal" checked="checked">
                    <span class="checkmark"></span>
                </label>
                <label class="option">
                    Netball
                    <input type="radio" name="sports" value="Netball">
                    <span class="checkmark"></span>
                </label>
                <label class="option">
                    Basketball
                    <input type="radio" name="sports" value="Basketball">
                    <span class="checkmark"></span>
                </label>
                <label class="option">
                    Footy
                    <input type="radio" name="sports" value="Footy">
                    <span class="checkmark"></span>
                </label>
            </form>

            <button class="btn" onclick="search()">Search</button>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-1">
            <div id="map" style="height:480px;width:700px"></div>
        </div>
    </div>
</div>
<hr />
<div id="results" class="row"></div>
<hr />

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1zde6CIKWcz5lnDUNnXFjlj2WuNS8hLI&libraries=places&callback=initMap"
        type="text/javascript"></script>
<script>
    var resultsList = $('#results');
    var map;
    var service;
    var infowindow;
    var markers = [];

    function initMap() {
        var melb = new google.maps.LatLng(-37.814, 144.96332);
        map = new google.maps.Map(
            document.getElementById('map'), { center: melb, zoom: 15 });
        infowindow = new google.maps.InfoWindow();

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infowindow.setPosition(pos);
                infowindow.setContent('Your Location');
                infowindow.open(map);
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infowindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infowindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infowindow, pos) {
        infowindow.setPosition(pos);
        infowindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infowindow.open(map);
    }

    function search() {
        $("#results").html("");
        setMapOnAll(null);
        markers = [];
        var filter = document.getElementsByName('filters');
        var sports = document.getElementsByName('sports');
        var filterSelected = "";
        var sportSelected = "";
        var noResult = $('<p>' + 'No result' + '</p>');

        var request = {
            keyword: '',
            radius: '10000'
            //fields: ['name', 'geometry'],
        };

        for (i = 0; i < filter.length; i++) {
            if (filter[i].checked) {
                filterSelected = filter[i].value + " ";
            }
        }

        for (i = 0; i < sports.length; i++) {
            if (sports[i].checked) {
                sportSelected = sports[i].value + " ";
            }
        }

        request.query = filterSelected + sportSelected + 'in Melbourne';
        request.location = map.center;
        console.log(request.keyword);

        service = new google.maps.places.PlacesService(map);
        service.textSearch(request, callback);

        function callback(results, status) {
            //service.findPlaceFromQuery(request, function (results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                if (results.length == 0) {
                    resultsList.append(noResult);
                }
                else {
                    for (var i = 0; i < results.length; i++) {
                        displayResults(results[i]);
                        createMarker(results[i]);
                        console.log(results.indexOf(results[i]));
                    }
                }

                map.setCenter(results[0].geometry.location);
                function displayResults(place) {
                    var placeCol = $('<div>', { class: 'col-lg-4 col-sm-6 mb-4' })
                    var placeCard = $('<div>', { id: 'place', class: 'card-body' });
                    var placePhoto = $('<img>', { src: place.photos[0].getUrl({ maxWidth: 400, maxHeight: 200 }), class: 'img-fluid' });
                    placePhoto.css({ 'height': '200px', 'width': '400px' });
                    var placeName = $('<h3>' + (place.name) + ' </h3>', { class: 'card-title' });
                    var placeAddress = $('<p>' + (place.formatted_address) + '</p>', { id: 'address' });
                    var placeButton = $('<a>', { id: results.indexOf(place) });
                    placeButton.addClass("btn");
                    placeButton.text("Show location");
                    placeButton.attr("href", "#mapContainer");

                    resultsList.append(placeCol);
                    placeCol.append(placeCard);
                    placeCard.append(placePhoto);
                    placeCard.append(placeName);
                    placeCard.append(placeAddress);
                    placeCard.append(placeButton);

                    $("a").click(function () {
                        var x = $(this).attr('id');
                        map.setCenter(results[x].geometry.location);
                        map.setZoom(15);
                    });
                }
            }
        }
        map.setZoom(10);
    }



    function createMarker(place) {
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        });
        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(place.name);
            infowindow.open(map, this);
        });
    }

    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }
</script>


