@model IEnumerable<SoberandSound.Models.Lifestyle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>document.title = "Lifestyle - Life.Aus"</script>
<!--The first image and descrption-->
<div class="container-fluid zero-padding">
    <div class="row zero-margin">
        <div class="col-12 zero-padding" style="max-height: 600px; overflow: hidden;">
            <img src="~/Images/bbqText.png" alt="refuse alcohol" class="full-image" />
        </div>
    </div>
</div>


<div class="w3-container" id="introduction">
    <div class="w3-content" style="max-width:700px">
        <h3 class="w3-center" style="padding-bottom:20px;padding-top:60px"><span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold; letter-spacing:0px">DAY TO DAY LIFESTYLE</span></h3>
        <p class="w3-large">
            Australia is famous for the liberty and democracy. The wonderful climate and amazing views attract people to move to Australia.This page describes about Australians’ day to day lifestyle.
        </p>
    </div>
</div>

<hr />



<!--Egalitarianism content-->
<div class="w3-row" id="immigrant">
    <div class="w3-col m6 w3-padding-large">
        <img src="~/Images/Equality.jpg" class="full-image" />
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h3 class="w3-center">
            <span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold; letter-spacing:0px">
                EGALITARIANISM
            </span>
        </h3><br>
        <p class="w3-large">
            Australians are proud of this deep-rooted egalitarianism and have escaped the flamboyant class system of Britain,
            a long-established country.
            <ul class="w3-large" style="padding-left:25px">
                <li>Australia is the second country to allow women to vote.</li>
                <li>Use the same language when dealing with bosses, seniors, friends or rapscallion.</li>
                <li>Split dinner bill with friends.</li>
            </ul>
        </p>

    </div>
</div>
<br />
<hr />
<br />

<!--HDI content-->
<div class="w3-container" id="introduction">
    <div class="w3-content" style="max-width:700px">
        <h3 class="w3-center">
            <span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold; letter-spacing:0px">
                HUMAN DEVELOPMENT INDEX
            </span>
        </h3><br />
        <p class="w3-large">
            Human Development Index is a way through which key dimensions of human development can be measured.<br /><br />
            Showing average achievement in key dimensions of human development:<br />
            -> A long healthy life <br />
            -> Being Knowledgeable<br />
            -> Decent standard of living<br />

        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div id="stackedBar" style="padding-bottom: 0px;"></div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 text-center">
        <b> Among all the countries Australia has the highest HDI value.</b>

    </div>
</div>
<hr />
<br />
<!--coffee-->
<h3 class="w3-center" style="padding-bottom:20px"><span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold; letter-spacing:0px">COFFEE</span></h3>
<br />
<div class="container">
    <p class="w3-large">
        Coffee and drinking coffee is something Australians are all too familiar with and known for it worldwide.
        Australia’s coffee culture is unique, with different ways of drinking coffee and different kinds of coffee drunk throughout the day.<br /><br />    
        Swipe the picture on the right to find the unique types of coffee in Australia.
    </p>
    <br />
    <div id="coffeeCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#coffeeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#coffeeCarousel" data-slide-to="1"></li>
            <li data-target="#coffeeCarousel" data-slide-to="2"></li>
            <li data-target="#coffeeCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/flatwhite.png" alt="flat white" style="width:100%;">
            </div>

            <div class="carousel-item">
                <img src="~/Images/magic.png" alt="magic" style="width:100%;">
            </div>

            <div class="carousel-item">
                <img src="~/Images/shortblack.png" alt="short black" style="width:100%;">
            </div>

            <div class="carousel-item">
                <img src="~/Images/longblack.png" alt="long black" style="width:100%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#coffeeCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#coffeeCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<br />
<hr />
<br />
<!--Lingo-->
<div class="w3-container" id="introduction">
    <div class="w3-content" style="max-width:700px">
        <h3 class="w3-center"><span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold; letter-spacing:0px">AUSTRALIAN LINGO</span></h3><br />
        <p class="w3-large">
            The term for Australia slang and pronunciation is called <i>Strine.</i><br /><br />
            It makes the words as short as possible. Using slang words in informal social situations makes you sound more natural. Here are twelve popular slang words in Australia — click the flip cards to know the meaning and try them out with your Australian friends!
        </p>
    </div>
</div>

<div class="row" style="margin-left: 0px;margin-right: 0px;">
    @foreach (var item in Model)
    {

        <div class="col-lg-3 ">
            <div class="flip-card" style="margin-bottom: 10px; border-color: red !important; color:red!important; background-color:white!important;">
                <div class="flip-card-inner" style="margin-bottom: 10px; border-color: green!important; color:green!important; background-color:white!important; border:5px solid;">
                    <div class="flip-card-front" style="padding-top: 25px; margin-bottom: 10px; border-color: red !important; color:green!important; background-color:white!important; ">
                        <h1>@Html.DisplayFor(modelItem => item.ausWord)</h1>
                    </div>
                    <div class="flip-card-back" style="padding-top: 25px; margin-bottom: 10px; border-color: red !important; color:green!important; background-color:white!important;">
                        <h1>@Html.DisplayFor(modelItem => item.engWord)</h1>
                    </div>
                </div>
            </div>
        </div>

    }
</div>



<!--Game-->
<hr />

<div class="w3-row w3-padding-32" id="immigrant">
    <div class="w3-col m6 w3-padding-large">
        <img src="~/Images/game.jpg" class="full-image" />
    </div>

    <div class="w3-col m6 w3-padding-large">
        <h3 class="w3-center"><span class="w3-tag w3-wide" style="background-color:#cc7a00; color:black; font-weight:bold; letter-spacing:0px">MEMORY GAME</span></h3><br>
        <p class="w3-large">
            A fun memory game to test your knowledge


        </p>
        <a href='@Url.Action("Game", "Home")' class="btn btn-danger text-center" style="display:block; margin:0;" target="_blank">Play</a>
    </div>

</div>







<script type="text/javascript">
    (function (H) {

        var pendingRenders = [];

        // https://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport/7557433#7557433
        function isElementInViewport(el) {

            var rect = el.getBoundingClientRect();

            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (
                    window.innerHeight ||
                    document.documentElement.clientHeight
                ) &&
                rect.right <= (
                    window.innerWidth ||
                    document.documentElement.clientWidth
                )
            );
        }

        H.wrap(H.Series.prototype, 'render', function deferRender(proceed) {
            var series = this,
                renderTo = this.chart.container.parentNode;

            // It is appeared, render it
            if (isElementInViewport(renderTo) || !series.options.animation) {
                proceed.call(series);

                // It is not appeared, halt renering until appear
            } else {
                pendingRenders.push({
                    element: renderTo,
                    appear: function () {
                        proceed.call(series);
                    }
                });
            }
        });

        function recalculate() {
            pendingRenders.forEach(function (item) {
                if (isElementInViewport(item.element)) {
                    item.appear();
                    H.erase(pendingRenders, item);
                }
            });
        }

        if (window.addEventListener) {
            ['DOMContentLoaded', 'load', 'scroll', 'resize']
                .forEach(function (eventType) {
                    addEventListener(eventType, recalculate, false);
                });
        }

    }(Highcharts));
Highcharts.chart('stackedBar', {

    chart: {
        type: 'column',
    },

    title: {
        text: 'HDI For Different Countries'
    },

    xAxis: {
        categories: ['2000', '2005', '2007', '2010', '2015']
    },
    exporting:
    {
        enabled: false
    },
    credits: {
        enabled: false
    },
    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: 'HDI'
        }
    },

    tooltip: {
        formatter: function () {
            return '<b>' + this.x + '</b><br/>' +
                this.series.name + ': ' + this.y + '<br/>' +
                'Total: ' + this.point.stackTotal;
        }
    },

    plotOptions: {
        column: {
            stacking: 'normal'
        }
    },

    series: [{
        name: 'Australia',
        data: [0.81, 0.84, 0.85, 0.87, 0.89],
        stack: 'Australia'
    }, {
        name: 'Germany',
        data: [0.68, 0.7, 0.71, 0.74, 0.8],
        stack: 'Germany'
    }, {
        name: 'Greece',
        data: [0.58, 0.66, 0.71, 0.76, 0.75],
        stack: 'Greece'
    }, {
        name: 'India',
        data: [0.27, 0.29, 0.31, 0.33, 0.38],
        stack: 'India'
    }, {
        name: 'Indonesia',
        data: [0.38, 0.41, 0.43, 0.45, 0.47],
        stack: 'Indonesia'
    }, {
        name: 'Italy',
        data: [0.65, 0.71, 0.75, 0.76, 0.81],
        stack: 'Italy'
    }, {
        name: 'China',
        data: [0.39, 0.42, 0.46, 0.48, 0.54],
        stack: 'China'
    }]
});</script>



